.scrolling,
.links {
  background-color: AliceBlue;
  font-family: Tahoma, Verdana, sans-serif;
}

.main {
  background-color: LightSteelBlue;
}

.title-link,
.title {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.title-link {
  font-size: 35px;
  color: pink;
  @apply underline
}

.WIPimg {
  margin: auto;
}

body {
  background-color: SteelBlue;
}

h1,
pre,
p {
  font-family: Tahoma, Verdana, sans-serif;
}

p {
  color: 20px;
  font-color: white;
}
