.color1 {
  background-color:#2a2833;
}
.color2 {
  background-color:#18181e;
}
.color3 {
  background-color:#3f3c46;
}
.color4 {
  background-color:#212027;
}

.color1,
.color2,
.color3,
.color4 {
  color: White;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: Bold;
}

p,
pre,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}
