.color1 {
  background-color:#2a2833;
}
.color2 {
  background-color:#18181e;
}
.color3 {
  background-color:#3f3c46;
}
.color4 {
  background-color:#212027;
}

.color1,
.color2,
.color3,
.color4 {
  color: White;
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: Bold;
  font-size: 200%
}
