[data-theme="light"] {
  --bg1-color: #d5d7cc;
  --bg2-color: #e7e7e1;
  --bg3-color: #c0c3b9;
  --bg4-color: #dedfd8;
  --bg5-color: #ebecea;
  
  --txt-color: #000000;
  --bgG-color: #ffffff;

  --sbG-color: #ffff00;
} /* just an invert */

[data-theme="dark"] {
  --bg1-color: #2a2833;
  --bg2-color: #18181e;
  --bg3-color: #3f3c46;
  --bg4-color: #212027;
  --bg5-color: #141315;
  
  --txt-color: #ffffff;
  --bgG-color: #000000;

  --sbG-color: #0000ff;
}

[data-theme="brown"] {
  --bg1-color: #a16d3c;
  --bg2-color: #794f28;
  --bg3-color: #cd9b56;
  --bg4-color: #654127;
  --bg5-color: #513421;
  
  --txt-color: #ffffff;
  --bgG-color: #000000;

  --sbG-color: #a13d00;
}

body {
  align: center;
}

.settingsButton {
  color: var(--txt-color);
  background-color: var(--sbG-color);
  font-size: 20px;
  border-radius: 20px;
  padding: 15px 20px;
}

.color1 {
  background-color:var(--bg1-color);
}
.color2 {
  background-color:var(--bg2-color);
}
.color3 {
  background-color:var(--bg3-color);
}
.color4 {
  background-color:var(--bg4-color);
}
.color5 {
  background-color: var(--bg5-color);
}

.color1, .color2, .color3, .color4, .color5{
  color: var(--txt-color);
  font-family: Tahoma, Verdana, sans-serif;
  font-weight: Bold;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px;
}

p {
  font-size: 30px;
}

a {
  font-size: 20px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}
