[theme="light"] {
    --bgC: #ffffff;
    --txtC: #000000;
}
[font_style="regular"] {
    --ff: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fs: large;
}

body {
    background-color: var(--bgC);
    color: var(--txtC);

    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: bolder;
}