.creditTXT {
  background-color: AliceBlue;
  color: White;
  text-align: left
  font-family: Tahoma, Verdana, sans-serif;
}

.btns {
  background-color: AliceBlue;
  font-size: 30px;
  font-family: Tahoma, Verdana, sans-serif;
}

body {
  background-color: SteelBlue;
}
