.creditTXT {
  background-color: LightSteelBlue;
  color: White;
}

.btns {
  background-color: AliceBlue;
  font-size: 30px;
  color: Pink;
  @apply underline
}

.content {
  font-family: Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 30px;
}

body {
  background-color: SteelBlue;
}
