.blogList {
  background-color: LightSteelBlue;
  font-size: 30px;
  font-align: center;
}

.scrolling,
.buttons {
  background-color: AliceBlue;
  font-size: 50px;
}

body {
  background-color: Black;
}

a,
p,
h1 {
  font-family: Tahoma, Verdana, sans-serif;
  font-color: White;
}
