.scrolling,
.links {
  background-color: AliceBlue;
  font-family: Tahoma, Verdana, sans-serif;
}

.main {
  background-color: LightSteelBlue;
}

.title-link,
.title {
  font-weight: bold;
  font-size: 50px;
  font-color: white;
}

.title-link {
  font-size: 25px;
  font-color: pink;
  @apply underline
}

body {
  background-color: SteelBlue;
}

h1,
pre,
p {
  font-family: Tahoma, Verdana, sans-serif;
}
