/*
Custom Classes
*/

.scrolling {
  background-color: AliceBlue;
}

.main {
  background-color: LightSteelBlue;
}

.title {
  font-weight: bold;
  font-size: 50px;
}

/*
HTML Classes
*/

body {
  background-color: SteelBlue;
}

h1,
p {
  font-family: Tahoma, Verdana, sans-serif;
}
