.scrolling,
.links {
  background-color: AliceBlue;
  font-family: Tahoma, Verdana, sans-serif;
}

.main {
  background-color: LightSteelBlue;
}

.title {
  font-weight: bold;
  font-size: 50px;
  background-color: Navy;
}

body {
  background-color: SteelBlue;
}

h1,
pre,
p {
  font-family: Tahoma, Verdana, sans-serif;
}
