.blogList {
  background-color: LightSteelBlue;
  font-size: 30px;
}

.buttons {
  background-color: AliceBlue;
  font-size: 50px;
}

body {
  background-color: SteelBlue;
}

a,
p,
h1 {
  font-family: Tahoma, Verdana, sans-serif;
}
